fastapi
uvicorn
firebase-admin
python-dotenv
pydantic
pydantic-settings
opencv-python-headless
mediapipe
numpy
Pillow
python-multipart
websockets
python-jose[cryptography]
passlib[bcrypt]
aiofiles
httpx
